@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Mada:wght@500&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body {
    font-family: 'Mada', sans-serif;
    direction: rtl;
    transition: ease-in-out 0.5s;
    background-color: #eff7f6;
}

header h1, footer h1 {
    font-family: 'Gulzar', serif;
    font-size: 70px;
    text-align: center;
    background-color: white;
}

header span {
    position: relative;
    top: -1000px;
    font-size: 40px;
    cursor: pointer;
}


header nav {
    background-color: white;
    border: 3px dashed #127475;
    padding: 10px;
    position: fixed;
    margin: 20px;
    left: 1%;
    top: 10px;
}

header nav ul{
    list-style: none;
    text-align: center;
}


header nav ul li a{
    left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
header nav ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

div {
    padding: 10px;
    margin: 10px;
}

div ul {
    list-style: none;
}

h2 {
    font-size: 42px;
    color: tomato;
}
h3 {
    font-size: 30px;
    color: lightseagreen;
}
p {
    width: 70%;
    font-size: 26px;
}

.question {
    margin-top: 40px;
}

.question h3 {
    margin: 0;
    padding: 0;
    color:darkblue;
}

.aoq {
    text-decoration: underline;
    display: none;
}

.aoq.unhidden {
    display: block;
}

.showAOQ {
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 15px;
}
.showAOQ:hover, .showAOQ:active {
    border: 2px solid black;
}


.quiz-container {
    border: 2px solid #127475;
}


.quiz-container p {
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.quiz-container button {
    display: flex;
    justify-content: space-between;
    background-color: #127475;
    border: none;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.quiz-container button:hover {
    padding: 10px;
    text-decoration: underline;
}

.quiz-container button:active {
    background-color: black;
    font-weight: bold;
}


@media screen and (max-width: 500px) {
    header h1, footer h1 {
        font-size: 40px;
    }
    header span {
        position: fixed;
        top: 1px;
        background-color: rgba(255, 255, 255, 0.856);
        padding: 15px;
        border-radius: 50%;
        z-index: 1;
        border: 2px solid black;
    }
    header nav {
        display: none;
        width: 100%;
        border: none;
        margin: 10px 0;
    }
    header nav.open {
        display: block;
    }
    header nav.open ul li {
        border: 2px solid #127475;
        border-radius: 10px;
    }
    header nav.open ul li a {
        color: #127475;
    }
    header nav.open ul li:active {
        color: black;
        border: 2px solid black;
        background-color: rgb(228, 228, 228);
    }
    header nav.open ul li:hover {
        color: black;
        border: 2px solid black;
        background-color: rgb(228, 228, 228);
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 22px;
        padding: 0;
        width: fit-content;
    }

}
