@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Mada:wght@500&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body {
    font-family: 'Mada', sans-serif;
    direction: rtl;
    transition: ease-in-out 0.5s;
    background-color: #eff7f6;
}

header h1 {
    font-family: 'Gulzar', serif;
    font-size: 70px;
    text-align: center;
    background-color: white;
}


header nav {
    background-color: white;
    border: 3px dashed #127475;
    padding: 10px;
    position: fixed;
    margin: 20px;
    left: 1%;
    top: 10px;
}

header nav ul{
    list-style: none;
    text-align: center;
}


header nav ul li a{
    left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
header nav ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

div {
    padding: 10px;
    margin: 10px;
}

div ul {
    list-style: none;
}

h2 {
    font-size: 42px;
    color: tomato;
}
h3 {
    font-size: 30px;
    color: lightseagreen;
}
p {
    width: 70%;
    font-size: 26px;
}


.quiz-container {
    border: 2px solid #127475;
}

.quiz-container p {
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.quiz-container button {
    display: flex;
    justify-content: space-between;
    background-color: #127475;
    border: none;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.quiz-container button:hover {
    padding: 10px;
    text-decoration: underline;
}

.quiz-container button:active {
    background-color: black;
    font-weight: bold;
}