@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Mada:wght@500&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body {
    font-family: 'Mada', sans-serif;
    direction: rtl;
    transition: ease-in-out 0.5s;
}

header h1 {
    font-family: 'Gulzar', serif;
    font-size: 70px;
    text-align: center;
}

header nav {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    position: fixed;
    margin: 20px;
    left: 1%;
    top: 10px;
}

header nav ul{
    list-style: none;
    text-align: center;
}


header nav ul li a{
    left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
header nav ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    font-size: 45px;
    color: tomato;
}
h3 {
    font-size: 32px;
    color: lightseagreen;
}
p {
    width: 70%;
    font-size: 28px;
}


